# Vizualizácie k bakalárskej práci

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({"flexibilta":[0.359], "predmety":[0.254], "ucitelia_vyucba":[0.362 ], "ucitelia_pristup":[0.442],
                "hodnotenie":[0.315],  "zrucnosti":[0.437], "podpora_studentov":[0.304]}, index=["H"])
display(df)

,flexibilta,predmety,ucitelia_pristup,ucitelia_vyucba,hodnotenie,zrucnosti,podpora_studentov
H,0.359,0.254,0.362,0.442,0.315,0.437,0.304

* predmety majú problém

In [9]:
individual_scale = pd.DataFrame({"flexibilita":[0.357, 0.354 , 0.310, 0.403, 0.376, "NA", "NA"], "predmety":[0.263, 0.297, 0.284, 0.249, 0.189, 0.255, 0.260],
                                "ucitelia_vyucba":[]},
                                index="H1,H2,H3,H4,H5,H6,H7".split(",")) 
display(individual_scale)

   flexibilita  predmety
H1       0.357     0.263
H2       0.354     0.297
H3        0.31     0.284
H4       0.403     0.249
H5       0.376     0.189
H6          NA     0.255
H7          NA     0.260

0.527
0.374
0.487
0.478
0.379
0.487
0.333